footer{
    text-align: center;
    padding: 3px;
    background-color: yellowgreen;
    color: tomato;

}

.logouadeo{
   margin-right: 90%;
   width: 10%;
   
}

.derechos{
    margin-left: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}