#piedepagina {
    width: 960px;
    margin: auto;
}

#piedepagina>.logofooter{
    width: 200px;
    margin: auto;
}

#piedepagina h1{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}